*{
    margin: 5px;
    
}


.paragrafo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





